@model List<Invoice.Data.DTO.Response.Invoice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible show" role="alert">
        <strong>@TempData["Error"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible show" role="alert">
        <strong>@TempData["Success"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@Html.ActionLink("Add New Invoice", "Create", null, new { @class = "btn btn-primary", style = "margin-bottom: 20px" })
<table class="table">
    <thead>
        <tr>
            <th scope="col">Invoice Number</th>
            <th scope="col">Date Created</th>
            <th scope="col">Due Date</th>
            <th scope="col">Price Without Tax</th>
            <th scope="col">Price With Tax</th>
            <th scope="col">Invoice Recipient</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <th>@invoice.Number</th>
                <td>@invoice.DateCreated.ToShortDateString()</td>
                <td>@invoice.DueDate.ToShortDateString()</td>
                <td>@invoice.RawPrice</td>
                <td>@invoice.PriceAfterTax</td>
                <td>@invoice.InvoiceRecipient</td>
                <td>
                    @Html.ActionLink("Details", "Read", new { id = @invoice.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Update", "Update", new { id = @invoice.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = @invoice.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
